<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>user</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
</head>
<body class="container">
<br/>
<h1>修改用户</h1>
<br/><br/>
<div class="with:80%">
    <form class="form-horizontal"   th:action="@{/userInfo/add}"  method="post">
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">昵称：</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="name"  id="name" placeholder="昵称"/>
            </div>
        </div>
        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">账户：</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="username"  id="username" placeholder="账户"/>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label" >密码：</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" name="password" id="password" placeholder="密码"/>
            </div>
        </div>
        <!--用户状态,0:创建未认证（比如没有激活，没有输入验证码等等）&#45;&#45;等待验证的用户 , 1:正常状态,2：用户被锁定.-->
        <div class="form-group">
            <label for="state" class="col-sm-2 control-label">用户状态：</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="state"  id="state" placeholder="用户状态"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Submit" class="btn btn-info" />
                &nbsp; &nbsp; &nbsp;
                <a href="/userInfo/userList" th:href="@{/userInfo/userList}" class="btn btn-info">Back</a>
            </div>

        </div>
    </form>
</div>
</body>
</html>